.header__title{
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    color: white;
    background-color: hsl(120, 100%, 50%);
    border-radius: 10px;
}

@media (max-width: 767px){
    .header__title{
        margin: 20px auto;
        font-size: 15px;
        text-align: center;
    }
  }