.form__fieldset{
    border: 1px solid hsl(120, 100%, 30%);
    background-color: hsl(0, 0%, 80%);
}

.form__labelText{
    padding: 10px;
    width: 200px;
    max-width: 100%;
    display: inline-block;
}

.form__legend{
    background-color: hsl(120, 100%, 50%);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(124, 124, 124);
}

.form__field{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(120, 100%, 80%);
    border: 2px solid rgb(124, 124, 124);
}

.form__field--value{
    width: 100%;
    max-width: 200px;
}

.form__field--select{
    width: 100%;
    max-width: 100px;
}

.form__field--final{
    background-color: hsl(260, 100%, 80%);
}

.form__button{
    padding: 10px;
    width: 100%;
    background-color: hsl(120, 100%, 20%);
    color: white;
    border-radius: 10px;
}
.form__button:hover{
    background-color: hsl(120, 100%, 30%);
}
.form__button:active{
    background-color: hsl(120, 100%, 40%);
}